<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/about.css" />
  </head>
  <body>
    <nav>
      <a href="http://localhost:3000/">Home</a>
      <a href="http://localhost:3000/users">users</a>
      <a href="http://localhost:3000/about">About</a>
    </nav>
    <h1 class="aboutTitle">All you need to know about the API</h1>
    <div>
      <p class="textAbout">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus
        consequatur fugiat deleniti, sed aperiam veritatis officia voluptate
        natus illo iusto enim expedita, cumque quam amet minus asperiores
        laboriosam at odit error ea aliquam quia voluptatibus officiis delectus?
        Optio aliquid debitis, dignissimos, odit molestiae distinctio earum
        quaerat sit deleniti ex voluptates aut voluptate iure. Cupiditate rerum,
        enim, asperiores ducimus illo nostrum velit eum expedita perferendis,
        ipsa impedit culpa quas! Optio fuga, sint minus vel repellat quas in
        officiis. Eveniet mollitia voluptates natus rerum quam exercitationem,
        suscipit quae numquam saepe ullam repudiandae molestias animi excepturi
        eligendi id quibusdam deleniti hic est commodi quia quisquam blanditiis
        sed. Maiores sed temporibus nisi dolores repudiandae ex pariatur
        doloribus dolore doloremque voluptas quidem possimus itaque impedit
        accusantium molestiae porro reprehenderit assumenda earum magni animi
        voluptatum dicta, rem fuga vel! Dolore voluptatum nesciunt
        exercitationem quas? Explicabo consequuntur quasi dolor iure voluptate
        excepturi quam aliquam error fugit quas? Culpa nam atque illum. Deleniti
        fuga nobis repellendus iste! Culpa iste quisquam dolorem, unde tempore
        eum excepturi quas deserunt repellendus quia a provident inventore nisi
        dicta asperiores tempora aliquam. Provident ipsum pariatur eligendi
        atque! Ipsam ab at modi! Provident ipsam optio molestias sunt odit.
      </p>
      <p class="textAbout">

        Deleniti accusantium atque, ab dolorum eum consequuntur quae? Ab,
        tempora molestiae ipsam sequi reiciendis explicabo cumque dicta impedit
        tempore modi optio, dolores perferendis harum, doloribus asperiores eum
        non qui necessitatibus labore? A suscipit facere soluta neque fugit
        ullam sunt iste nisi, veniam, distinctio autem aspernatur ab labore,
        maiores voluptatem earum ipsam culpa. Exercitationem fugit ad quidem
        dicta cum, eius nostrum, sapiente quibusdam repellat dolores laborum
        quam voluptas quis temporibus officiis possimus fugiat distinctio.
        Voluptatem neque aliquid eum fuga repellat eius temporibus quo, facilis
        velit beatae error quis delectus at odio pariatur nobis ducimus
        inventore molestiae quaerat? Praesentium aut asperiores molestiae
        debitis necessitatibus ipsa iure voluptates, sequi quam similique minus
        dicta quibusdam dolores odio rem ipsum veniam laborum qui iste
        laudantium modi animi. Culpa aperiam repellat aspernatur dignissimos
        eaque in neque praesentium deserunt cupiditate minima dolore non
        excepturi vel, necessitatibus, quae dolorum ea veritatis tempora
        repudiandae odio nihil! Debitis sint quaerat rerum soluta explicabo,
        fuga repellat unde id cum perferendis aperiam accusamus blanditiis
        ratione placeat in quas adipisci odit saepe excepturi non quam velit.
        Laborum quos accusantium animi asperiores aliquid quo repellat
        molestias! Numquam nihil illum laudantium, atque neque sequi tenetur
        suscipit quaerat ut a architecto. Quis dolorem quod sequi commodi autem,
        unde, odio tempore sint iusto, cum laborum? Nulla minus, molestias quasi
        sequi doloremque adipisci vel dolor dolorem, enim architecto qui
        recusandae dolores. Aut, animi, eveniet iste incidunt porro obcaecati
        perferendis inventore quibusdam neque, molestiae id dicta ea omnis
        accusamus corrupti sunt voluptatibus ipsum. Sit, ea quos doloribus neque
        iste nihil minus sunt vitae molestiae excepturi fuga aliquid aliquam
        beatae quas eaque aperiam voluptate optio. Quia harum, qui nam quidem ut
        quod labore aperiam facere vitae beatae, rerum repellendus nobis? Maxime
        rem eaque sit, consectetur, soluta laudantium magnam ad expedita illum
        quas sunt quos? Voluptatum aliquam voluptatibus reprehenderit
        necessitatibus consequatur cumque debitis officia nisi. Facere, veniam!
      </p>
      <p class="textAbout">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus
        consequatur fugiat deleniti, sed aperiam veritatis officia voluptate
        natus illo iusto enim expedita, cumque quam amet minus asperiores
        laboriosam at odit error ea aliquam quia voluptatibus officiis delectus?
        Optio aliquid debitis, dignissimos, odit molestiae distinctio earum
        quaerat sit deleniti ex voluptates aut voluptate iure. Cupiditate rerum,
        enim, asperiores ducimus illo nostrum velit eum expedita perferendis,
        ipsa impedit culpa quas! Optio fuga, sint minus vel repellat quas in
        officiis. Eveniet mollitia voluptates natus rerum quam exercitationem,
        suscipit quae numquam saepe ullam repudiandae molestias animi excepturi
        eligendi id quibusdam deleniti hic est commodi quia quisquam blanditiis
        sed. Maiores sed temporibus nisi dolores repudiandae ex pariatur
        doloribus dolore doloremque voluptas quidem possimus itaque impedit
        accusantium molestiae porro reprehenderit assumenda earum magni animi
        voluptatum dicta, rem fuga vel! Dolore voluptatum nesciunt
        exercitationem quas? Explicabo consequuntur quasi dolor iure voluptate
        excepturi quam aliquam error fugit quas? Culpa nam atque illum. Deleniti
        fuga nobis repellendus iste! Culpa iste quisquam dolorem, unde tempore
        eum excepturi quas deserunt repellendus quia a provident inventore nisi
        dicta asperiores tempora aliquam. Provident ipsum pariatur eligendi
        atque! Ipsam ab at modi! Provident ipsam optio molestias sunt odit.
      </p>
      <p class="textAbout">

        Deleniti accusantium atque, ab dolorum eum consequuntur quae? Ab,
        tempora molestiae ipsam sequi reiciendis explicabo cumque dicta impedit
        tempore modi optio, dolores perferendis harum, doloribus asperiores eum
        non qui necessitatibus labore? A suscipit facere soluta neque fugit
        ullam sunt iste nisi, veniam, distinctio autem aspernatur ab labore,
        maiores voluptatem earum ipsam culpa. Exercitationem fugit ad quidem
        dicta cum, eius nostrum, sapiente quibusdam repellat dolores laborum
        quam voluptas quis temporibus officiis possimus fugiat distinctio.
        Voluptatem neque aliquid eum fuga repellat eius temporibus quo, facilis
        velit beatae error quis delectus at odio pariatur nobis ducimus
        inventore molestiae quaerat? Praesentium aut asperiores molestiae
        debitis necessitatibus ipsa iure voluptates, sequi quam similique minus
        dicta quibusdam dolores odio rem ipsum veniam laborum qui iste
        laudantium modi animi. Culpa aperiam repellat aspernatur dignissimos
        eaque in neque praesentium deserunt cupiditate minima dolore non
        excepturi vel, necessitatibus, quae dolorum ea veritatis tempora
        repudiandae odio nihil! Debitis sint quaerat rerum soluta explicabo,
        fuga repellat unde id cum perferendis aperiam accusamus blanditiis
        ratione placeat in quas adipisci odit saepe excepturi non quam velit.
        Laborum quos accusantium animi asperiores aliquid quo repellat
        molestias! Numquam nihil illum laudantium, atque neque sequi tenetur
        suscipit quaerat ut a architecto. Quis dolorem quod sequi commodi autem,
        unde, odio tempore sint iusto, cum laborum? Nulla minus, molestias quasi
        sequi doloremque adipisci vel dolor dolorem, enim architecto qui
        recusandae dolores. Aut, animi, eveniet iste incidunt porro obcaecati
        perferendis inventore quibusdam neque, molestiae id dicta ea omnis
        accusamus corrupti sunt voluptatibus ipsum. Sit, ea quos doloribus neque
        iste nihil minus sunt vitae molestiae excepturi fuga aliquid aliquam
        beatae quas eaque aperiam voluptate optio. Quia harum, qui nam quidem ut
        quod labore aperiam facere vitae beatae, rerum repellendus nobis? Maxime
        rem eaque sit, consectetur, soluta laudantium magnam ad expedita illum
        quas sunt quos? Voluptatum aliquam voluptatibus reprehenderit
        necessitatibus consequatur cumque debitis officia nisi. Facere, veniam!
      </p>
      <p class="textAbout">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus
        consequatur fugiat deleniti, sed aperiam veritatis officia voluptate
        natus illo iusto enim expedita, cumque quam amet minus asperiores
        laboriosam at odit error ea aliquam quia voluptatibus officiis delectus?
        Optio aliquid debitis, dignissimos, odit molestiae distinctio earum
        quaerat sit deleniti ex voluptates aut voluptate iure. Cupiditate rerum,
        enim, asperiores ducimus illo nostrum velit eum expedita perferendis,
        ipsa impedit culpa quas! Optio fuga, sint minus vel repellat quas in
        officiis. Eveniet mollitia voluptates natus rerum quam exercitationem,
        suscipit quae numquam saepe ullam repudiandae molestias animi excepturi
        eligendi id quibusdam deleniti hic est commodi quia quisquam blanditiis
        sed. Maiores sed temporibus nisi dolores repudiandae ex pariatur
        doloribus dolore doloremque voluptas quidem possimus itaque impedit
        accusantium molestiae porro reprehenderit assumenda earum magni animi
        voluptatum dicta, rem fuga vel! Dolore voluptatum nesciunt
        exercitationem quas? Explicabo consequuntur quasi dolor iure voluptate
        excepturi quam aliquam error fugit quas? Culpa nam atque illum. Deleniti
        fuga nobis repellendus iste! Culpa iste quisquam dolorem, unde tempore
        eum excepturi quas deserunt repellendus quia a provident inventore nisi
        dicta asperiores tempora aliquam. Provident ipsum pariatur eligendi
        atque! Ipsam ab at modi! Provident ipsam optio molestias sunt odit.
      </p>
      <p class="textAbout">

        Deleniti accusantium atque, ab dolorum eum consequuntur quae? Ab,
        tempora molestiae ipsam sequi reiciendis explicabo cumque dicta impedit
        tempore modi optio, dolores perferendis harum, doloribus asperiores eum
        non qui necessitatibus labore? A suscipit facere soluta neque fugit
        ullam sunt iste nisi, veniam, distinctio autem aspernatur ab labore,
        maiores voluptatem earum ipsam culpa. Exercitationem fugit ad quidem
        dicta cum, eius nostrum, sapiente quibusdam repellat dolores laborum
        quam voluptas quis temporibus officiis possimus fugiat distinctio.
        Voluptatem neque aliquid eum fuga repellat eius temporibus quo, facilis
        velit beatae error quis delectus at odio pariatur nobis ducimus
        inventore molestiae quaerat? Praesentium aut asperiores molestiae
        debitis necessitatibus ipsa iure voluptates, sequi quam similique minus
        dicta quibusdam dolores odio rem ipsum veniam laborum qui iste
        laudantium modi animi. Culpa aperiam repellat aspernatur dignissimos
        eaque in neque praesentium deserunt cupiditate minima dolore non
        excepturi vel, necessitatibus, quae dolorum ea veritatis tempora
        repudiandae odio nihil! Debitis sint quaerat rerum soluta explicabo,
        fuga repellat unde id cum perferendis aperiam accusamus blanditiis
        ratione placeat in quas adipisci odit saepe excepturi non quam velit.
        Laborum quos accusantium animi asperiores aliquid quo repellat
        molestias! Numquam nihil illum laudantium, atque neque sequi tenetur
        suscipit quaerat ut a architecto. Quis dolorem quod sequi commodi autem,
        unde, odio tempore sint iusto, cum laborum? Nulla minus, molestias quasi
        sequi doloremque adipisci vel dolor dolorem, enim architecto qui
        recusandae dolores. Aut, animi, eveniet iste incidunt porro obcaecati
        perferendis inventore quibusdam neque, molestiae id dicta ea omnis
        accusamus corrupti sunt voluptatibus ipsum. Sit, ea quos doloribus neque
        iste nihil minus sunt vitae molestiae excepturi fuga aliquid aliquam
        beatae quas eaque aperiam voluptate optio. Quia harum, qui nam quidem ut
        quod labore aperiam facere vitae beatae, rerum repellendus nobis? Maxime
        rem eaque sit, consectetur, soluta laudantium magnam ad expedita illum
        quas sunt quos? Voluptatum aliquam voluptatibus reprehenderit
        necessitatibus consequatur cumque debitis officia nisi. Facere, veniam!
      </p>
    </div>
  </body>
</html>