<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <div class="container">
      <nav id="nav">
        <a href="/">HOME</a>
        <a href="/student">Lista</a>
        <a href="/registro">registro</a>
      </nav>
      <h1>
        Lista de Estudiantes del BootCamp Java & C#
      </h1>
      <table id="estudiantesTable">
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Matricula</th>
          <th>Curso</th>
          <th>Nota</th>
          <th>Eliminar</th>
        </tr>
        <tr id="datos">
        </tr>
      </table>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="js/script.js"></script>
    <script>
      swal("Good job!", "You clicked the button!", "success");
    </script>
  </body>
</html>