
body{
    width: 100%;
    background-image: url("../Img/usa1.jpg");
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(3px);
    -webkit-background-size: 100%;
-moz-background-size: 100%;
-o-background-size: 100%;
background-size:100%;
background-repeat: no-repeat;

}
#formu{
    width: 100%;
    height: 100%;
}

.formulario {
    width: 22%;
    margin: auto;
    margin-top: 30px;
    padding: 30px;
    background-color: rgba(161, 120, 113, 0.473); 
    border-radius: 2%;   
    }

.titulo {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 0;
    font-size: 30px;
    text-transform: uppercase;
    position: center;
    padding-top: 7%;
    color: rgb(235, 240, 235);
    margin-bottom: -20px;
    }


.formulario__input{
    border: 1px solid rgba(253, 252, 252, 0.3);
    padding: 20px;
    margin-top: 40px;
    background: transparent;

}

.form-control {
    background-color: rgba(255, 255, 255, 0.733);
    border-style:hidden;
    width: 100%;
}
#boton{
    background-color: rgb(16, 13, 192);
    display: inline-block;
width: auto;
font-size: 16px;
cursor: pointer;
color: rgb(250, 243, 243);
font-family: monospace;
text-align: center;
font-weight: bold;
border-style: hidden;
margin-bottom: 10px;
margin-top: 10px;
}

#boton:hover{
    background-color: rgb(8, 86, 253);
    overflow: hidden;
}


#new{
    color: aliceblue;
    font-size: 17px;
    font-weight: bold;
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#lost{
    color: aliceblue;
    font-size: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#new:hover{
    font-style: oblique;
    text-decoration: none;
    color: rgb(18, 19, 18);
}
#lost:hover{
    font-style: oblique;
    text-decoration: none;
    color: rgb(16, 17, 16);
}